<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/tmp/logs/insight.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/tmp/logs/insight.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.jdonee.insight" level="INFO" />
	
	<logger name="com.jdonee.insight.dao" level="INFO" />
	
	<logger name="org.apache.shiro" level="INFO" />
	
	<logger name="ro.isdc.wro" level="INFO" />

	<!--log4jdbc -->
	<!--打印消耗时间 执行动作和SQL语句 -->
	<logger name="jdbc.sqltiming" level="INFO"/>
	<!--把结果集作为表单返回-->
	<logger name="jdbc.resultsettable" level="INFO"/>
	<!--记录数据连接的日志 -->
	<logger name="jdbc.connection" level="INFO"/>
	<!--记录除结果集以外的所有数据库日志，除非出现JDBC异常，否则不要设置  -->
	<logger name="jdbc.audit" level="WARN"/>

	<root level="WARN">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>