<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd    	
     	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
     	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd"     	
	default-lazy-init="true">
	
	<!-- mybatis 分页拦截 -->
	<bean id="paginationInterceptor" class="com.jdonee.framework.util.mybatis.PaginationInterceptor" />

	<!-- MyBatis配置 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
		<property name="typeAliasesPackage" value="
		com.jdonee.insight.task.domain,
		com.jdonee.insight.account.domain
		" />
		<!-- 显式指定Mapper文件位置 -->
		<property name="mapperLocations" value="classpath:/mybatis/*/*Dao.xml" />
		<!-- Mybatis配置文件 -->
		<property name="configLocation" value="classpath:/mybatis-config.xml" />
		<!-- 自定义Mybatis插件 -->

		<property name="plugins">
			<list>
				<ref bean="paginationInterceptor" />
			</list>
		</property>
	</bean>

	<!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.jdonee.insight.**.dao" />
		<property name="annotationClass" value="com.jdonee.framework.util.mybatis.MyBatisRepository" />
	</bean>

</beans>
